.tech {
  background-color: #18EAEA;
  border-radius: 12px;
}
/* Developer Image */
/* .dev-img{
  box-shadow:12px 12px 5px 
  #6cebeb;
  width: 47%;
}
@media(max-width: 1290px){
  .dev-img{
    box-shadow:12px 12px 5px 
    #6cebeb;
    width: 58%;
  }
}  */


