.edu-btn {
  background-color: #211f1f;
  color: #ffffff;
}
a{
  color: white;
  text-decoration: none;
}
.verticalline {
  height: 300px;
  border-left: 3px solid #6cebeb;
  position: absolute;
  /* left: 50%; */
}