.edu-btn {
  /* background-color: #211f1f; */
  background-color: hsl(264,34%,45%);
  color: #ffffff;
  margin: 6px 3px;
}
a{
  color: white;
  text-decoration: none;
}
.verticalline {
  height: 300px;
  border-left: 3px solid #6cebeb;
  position: absolute;
  /* left: 50%; */
}
.hr{
  color: 'white';
}

.online-certs {
  background-color: hsl(264,34%,45%);
  border-radius: 20px;
  padding: 20px;
}