.card {
  background-color: hsl(264,34%,45%);
  margin-bottom: 15px;
}

.card-footer{
  text-align: right;
  color: white;
}
.languages{
  padding-top:20px;
}
.port-heading{
  text-align: center;
}
.portfolio-more {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border-color: #6cebeb;
  /* border-radius: 30px; */
  border-width: 3px;
}
.tech-btn{
  margin-bottom:20px;
  align-text:center;
}
/* title {
  color: white;
} */
.col-md-4{
  margin-top: 15px; 
}
.nav-item{
  padding: 0 20px;
  font-size: 20px;  
  color: white;
  padding-top: 10px !important;
}
.tabname{
  color: white;
}
.project-details {
 font-size: 20px;
 margin-top:10px;
 
}
.languages {
  color: #6cebeb;
}